@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root {
  --color-primary: #0071d4;
  --color-secondary: #23bfea;
  --dark: rgb(21, 21, 21);
  --light: rgb(189, 189, 189);
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background: var(--light);
}

.App {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 60px;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

.calculator {
  width: 100%;
  max-width: 400px;
  background: var(--light);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.25);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 16px;
  font-weight: 300;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.9;
}
.operators {
  display: flex;
}
.operators button {
  flex: 1 1 0%;
  background-color: var(--color-primary);
  font-weight: 700;
}
.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
  background-color: var(--dark);
}